body{
    background-size:100% 100%;
    height: 95vh;
    
    background-repeat: no-repeat;
   animation: slider 10s linear infinite ;
}
@keyframes slider{

    0%{ background-image:url(./imagem/images.jfif);}
    30%{ background-image: url(./imagem/images\ \(1\).jfif);}
    60%{ background-image: url(./imagem/images\ \(2\).jfif);}
    100%{background-image: url(./imagem/images\ \(3\).jfif);}
}



.cadastro{
    margin-top: 10px;
    width:auto;
    height:auto;
    border: solid 2px cornflowerblue

   
}

.tx{
   display: flex;
   display:contents;
    
}

#sv{ margin-top: 10px;}
#ap{ text-align: center;}
::placeholder{ color: rgb(39, 78, 209);}